.git
.venv
build
install
log
__pycache__
*.pyc
*.pyo
*.pyd
.cache
.pytest_cache
.vscode
.idea
.DS_Store

src/lanelog_curator/outputs/*
!src/lanelog_curator/outputs/.gitkeep
src/lanelog_curator/data/real
src/lanelog_curator/external

